<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.register_tilloop1_login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bee_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bee_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Register_tilloop1_Login">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Register" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>